<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frolfr.frolfrclient" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.login.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.playerprofile.ProfileActivity"
            android:label="@string/title_activity_profile_statistics"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.courses.CoursesActivity"
            android:label="@string/title_activity_courses"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.coursescorecards.CourseScorecardsActivity"
            android:label="@string/title_activity_course_detail"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".activity.courses.CoursesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.courses.CoursesActivity" />
        </activity>
        <activity
            android:name=".activity.roundscorecard.RoundScorecardActivity"
            android:label="@string/title_activity_scorecard_detail"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".activity.coursescorecards.CourseScorecardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.coursescorecards.CourseScorecardsActivity" />
        </activity>
        <activity android:name=".activity.newgame.NewGameActivity"
            android:label="NewGame"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".activity.courses.CoursesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.courses.CoursesActivity" />
        </activity>
    </application>

</manifest>
